<div class="container">
    <br>
    <h2>Bienvenidos</h2>
    <br>
    <br>
    <div class="col-md-12">
        <div class="col-md-6">
            <p><b>Cybertools</b> es un emprendimiento creado en un principio 
                para el arreglo de computadoras y equipos celulares, 
                tanto en software como en hardware.
                <br>
                <br>
                Con el pasar del tiempo y después de adquirir una amplia 
                experiencia en este campo nos hemos decidido por implementar una 
                nueva área de negocio inclinandonos por el desarrollo de software.
                <br>
                <br>
                Hor por hoy, una empresa especializada en tecnologías de información 
                e innovación tecnológica, entregando soluciones que permiten la optimización 
                de la gestión de su empresa con software a medida
                para satisfacer las necesidades de su negocio.
                <br>                
                <br>
                Desarrollamos sistemas de gestión integrados en el ámbito de la tecnología y 
                los servicios web.
                <br>                
                <br>
                Ponemos a disposición de nuestros clientes softwares a medida para el apoyo en la toma de decisiones,
                además de herramientas de seguimiento y control de procesos.<br>
            </p>
        </div>
        <div class="col-md-6">
            <img src="/assets/img/1.png" alt="bienvenidos">
        </div>
    </div>
</div>
